<div class="login-page">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <h1>Wire Up</h1>
            <form [formGroup]="resetPasswordForm" novalidate (ngSubmit)="resetPassword()">
                <div class="form-content">
                    <div>
                        <input placeholder="Email"
                               formControlName="email"
                               type="email"
                               class="form-control input-underline input-lg"/>
                    </div>
                    <div [hidden]="resetPasswordForm.controls['email'].valid ||
                                    resetPasswordForm.controls['email'].pristine" class="text-danger">
                        <p *ngIf="resetPasswordForm.controls['email'].hasError('required')">
                            Email is required.
                        </p>
                        <p *ngIf="resetPasswordForm.controls['email'].hasError('pattern')">
                            Please enter a valid email address.
                        </p>
                        <p *ngIf="resetPasswordForm.controls['email'].hasError('isEmailExists')">
                            User with this Email doesn't exists.
                        </p>
                    </div>
                </div>
                <div formGroupName="newPasswords">
                    <div class="form-group">
                        <input placeholder="New Password"
                               formControlName="newPassword"
                               class="form-control input-underline input-lg"
                               type="password"/>
                        <div [hidden]="resetPasswordForm.controls['newPasswords'].controls['newPassword'].valid ||
                                             resetPasswordForm.controls['newPasswords'].controls['newPassword'].pristine"
                             class="text-danger">
                            Please enter at least 6 characters.
                        </div>
                    </div>
                    <div class="form-group">
                        <input placeholder="Retype New Password"
                               formControlName="confirmNewPassword"
                               class="form-control input-underline input-lg"
                               type="password"/>
                        <div [hidden]="resetPasswordForm.controls['newPasswords'].controls['confirmNewPassword'].pristine ||
                                                (resetPasswordForm.controls['newPasswords'].controls['confirmNewPassword'].valid &&
                                                resetPasswordForm.controls['newPasswords'].valid)"
                             class="text-danger">
                            Please enter the same value again.
                        </div>
                    </div>
                </div>
                <button class="btn rounded-btn" type="submit" [disabled]="!resetPasswordForm.valid">Reset Password</button>
            </form>
            Already have an account?<a style="cursor: pointer; cursor: hand;" (click)="goToLogin()"> Login</a>
        </div>
    </div>
</div>


<!--  <md-card>
    <md-toolbar color="primary">Login </md-toolbar>
    <md-card-content><br>
      <form [formGroup]="resetPasswordForm" novalidate (ngSubmit)="resetPassword()">
        <md-input type="text" placeholder="Email"  autocomplete="off"
                  formControlName="email" maxlength="100" #email>
          <md-hint *ngIf="!loginForm.controls['email'].valid && !loginForm.controls['email'].pristine &&
                    (!loginForm.controls['email'].hasError('required') && loginForm.controls['email'].hasError('pattern'))"
                   [ngStyle]="{'color': 'red'}" align="start">Please enter a valid email address.</md-hint>
          <md-hint *ngIf="!loginForm.controls['email'].valid && !loginForm.controls['email'].pristine &&
                    loginForm.controls['email'].hasError('required')"
                   [ngStyle]="{'color': 'red'}" align="start">Email is required.</md-hint>
        </md-input><br><br>
        <md-input type="password" placeholder="Password"  autocomplete="off"
                  formControlName="password" maxlength="100" #email>
          <md-hint *ngIf="!loginForm.controls['password'].valid && !loginForm.controls['password'].pristine &&
                    loginForm.controls['password'].hasError('required')"
                   [ngStyle]="{'color': 'red'}" align="start">Password is required.</md-hint>
        </md-input><br><br>
        <button md-raised-button color="primary" [disabled]="!loginForm.valid" type="submit"> let's wire up </button>
        <button md-button color="primary" (click)="goToResetPassword()" type="button">Forgot Password?</button>
      </form>
      <br> You don't have an account? <a style="cursor: pointer; cursor: hand;" (click)="goToSignup()" >Sign up</a>
    </md-card-content>
  </md-card>-->
