<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-3">
      <md-card class="card-success">
        <md-card-title-group>
          <i class="fa fa-tasks fa-5x"></i>
          <md-card-title>11</md-card-title>
          <md-card-subtitle>Open Tasks</md-card-subtitle>
        </md-card-title-group>
      </md-card>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-3">
      <md-card class="card-warning">
        <md-card-title-group>
          <i class="fa fa-calendar-check-o fa-5x"></i>
          <md-card-title>12</md-card-title>
          <md-card-subtitle>Events Today</md-card-subtitle>
        </md-card-title-group>
      </md-card>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-3">
      <md-card class="card-primary">
        <md-card-title-group>
          <i class="fa fa-money fa-5x"></i>
          <md-card-title>{{300 | currency:'USD':true:'2.1' }}</md-card-title>
          <md-card-subtitle>Payments</md-card-subtitle>
        </md-card-title-group>
      </md-card>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-3">
      <md-card class="card-danger">
        <md-card-title-group>
          <i class="fa fa-support fa-5x"></i>
          <md-card-title>13</md-card-title>
          <md-card-subtitle>Support Tickets</md-card-subtitle>
        </md-card-title-group>
      </md-card>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-8">
      <!--<dx-chart [dataSource]="trend.dataSource"
                [columnHidingEnabled]="true"
                [size]="trend.size"
                [commonSeriesSettings]="trend.commonSeriesSettings"
                [commonPaneSettings]="trend.commonPaneSettings"
                [crosshair]="trend.crosshair"
                [series]="trend.series"
                [argumentAxis]="trend.argumentAxis"
                [valueAxis]="trend.valueAxis"
                [legend]="trend.legend"
                [title]="trend.title"
                [export]="trend.export"
                [animation]="trend.animation"
                [pathModified]="trend.pathModified"
                [tooltip]="trend.tooltip"
                (onPointClick)="trend.onPointClick($event)"
                (onLegendClick)="trend.onLegendClick($event)"
                (onSeriesClick)="trend.onSeriesClick($event)"
                (onIncidentOccurred)="trend.onIncidentOccurred($event)">
      </dx-chart>-->
      <dx-pie-chart [dataSource]="pieChart.dataSource"
                    [size]="pieChart.size"
                    [series]="pieChart.series"
                    [legend]="pieChart.legend"
                    [title]="pieChart.title"
                    [export]="pieChart.export"
                    [animation]="pieChart.animation"
                    [tooltip]="pieChart.tooltip"
                    [pathModified]="pieChart.pathModified">
      </dx-pie-chart>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-4">
      <timer #timer timeInSeconds="28800"></timer>
    </div>
  </div>
</div>
