md-card{
/*  width: auto;
  height: 330px;
  position: absolute;
  top:0;
  bottom: 30%;
  left: 0;
  right: 0;
  margin: auto;*/
}
md-input{
  width: 100%;
}
.col-centered {
  float: none;
  margin: 0 auto;
}

/*
Min-Width: Refers to everything greater than or equal to the amount given.
Max-Width: Refers to everything less than or equal to the amount given.
*/
/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  [class*="col-"]{
    margin-top: 15px;
  }

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  [class*="col-"]{
    margin-top: 15px;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  [class*="col-"]{
    margin-top: 25px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  [class*="col-"]{
    margin-top: 40px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  [class*="col-"]{
    margin-top: 50px;
  }
}
